<html>
  <head>
  </head>
  <body>
    <div class="banner">
       <h1>AutoGoGo</h1>
       <h5>Drive Your Dreams: Rent With Us Today!<h5/>
    </div>


    <div class="search-bar">
      <div>
      <input type="text" placeholder="Explore cars...">
      <button>Search</button>
      </div>
    </div>


    <footer>
      <p>&copy; 2024 AutoGoGo. All rights reserved.</p>
    </footer>
  </body>
</html>
