
    <div class="banner">

       <h3>Drive Your Dreams: Rent With Us Today!</h3>
    </div>


    <div class="search-bar">

      <div>
        <input type="text" placeholder="Explore cars...">
        <button>Search</button>
      </div>
      <div class="all-cars">
         <div class="description">
            <ul>
              <li>Join our vibrant community of travelers and car owners alike! </li>
              <li>With our unique car rental platform, it's easier than ever to share your wheels or find the perfect ride for your next journey.</li>
              <li>Owners, showcase your vehicle and earn extra income by listing it on our user-friendly website.</li>
              <li>Travelers, explore a diverse range of vehicles suited to your needs, preferences, and budget.</li>
            </ul>
            <%= link_to "See all cars", cars_path, class: "button-style" %>
        </div>


      </div>
    </div>
    <footer>
      <p>&copy; 2024 AutoGoGo. All rights reserved.</p>
    </footer>

    </body>
</html>

