.cars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 100px;
  padding: 20px;
  list-style: none;
  background-color: rgb(187, 182, 182);
}

.car {
  border: 1px solid #ded8d8;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(230, 227, 227);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  text-decoration: none;
  color: black;
}

.car:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.car-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

// .car_image_show and .show_link is for ShowPage DESCRIPTION button
.car_image_show {
  width: 450px;
  height: 360px;
  border-radius: 5%;
}

.show_link {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
