.car-details {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.car-details h1 {
  font-size: 55px;
  color: #333;
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align: center;
}

.car-info {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.car-info p {
  margin: 4;
  padding: 4px 0;
  font-size: 16px;
  color: #333;
}

.car-info strong {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}


.car-description {
  margin-top: 20px;
}

.car-description h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 50px;
}

.car-description ul {
  list-style-type: disc;
}

.car-description li {
  margin-bottom: 5px;
  font-size: 16px;
  color: #555;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightgrey;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: darkgrey;
}
